@model BetterThanMooshak.Models.ViewModel.AssignmentProblems
@{
    ViewBag.Title = "Details";
}

<h2>@Model.assignment.name - Course name <!--TODO--></h2>

<div class="jumbotron">
    @foreach(var x in Model.problems)
    {
        <h3><a href="#">@x.name</a> - Score: <i>yourscore</i>/10 - Handins: <i>yourattempts</i>/@x.maxAttempts <!--TODO--></h3>

        <p>Lorem ipsum problem text!</p>
    }
</div>