@model BetterThanMooshak.Models.ViewModel.UserAddViewModel
@{
    ViewBag.Title = "Add User";
}

<div class="boxTitle">
    <h1>@ViewBag.Title.</h1>
</div>
<div class="boxText">

    @using (Html.BeginForm("add", "user", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.Partial("_UserForm", Model)
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
