@model BetterThanMooshak.Models.Entities.DiscussionComment

<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">
            Username Wrote:
        </h3>
    </div>
    <div class="panel-body">
        @Model.message
    </div>
</div>