<div class="bottom20 clearfix">
    <a class="btn btn-default pull-right" data-toggle="collapse" href="#addTopic">
        <i class="fa fa-plus-square"></i> New Topic
    </a>
</div>

<div id="addTopic" class="panel panel-default panel-collapse collapse">
    <div class="panel-heading">
        <div class="form-group bottom0">
            <input type="text" class="form-control" rows="5" id="comment" placeholder="Topic Title..."></input>
        </div>
    </div>
    <div class="panel-body clearfix">
        <div class="form-group">
            <textarea class="form-control" rows="5" id="comment" placeholder="Topic Content..."></textarea>
        </div>
        <button class="btn btn-default pull-right">
            <i class="fa fa-commenting"></i> Post Topic
        </button>
    </div>
</div>