@model BetterThanMooshak.Models.Entities.DiscussionComment

<div class="panel panel-default">
    <div class="panel-heading">Username Wrote:</div>
    <div class="panel-body">
        @Model.message
    </div>
</div>