@model BetterThanMooshak.Models.Entities.DiscussionComment

<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">
            <span style="white-space: pre">Username Wrote:</span>
        </h3>
    </div>
    <div class="panel-body">
        <span style="white-space: pre">@Model.message</span>
    </div>
</div>