
<div class="clearfix bottom20">
    <div class="pull-right btn-group" role="group">
        <a class="btn btn-default" onclick="alert('Function not yet implemented...')">
            <i class="fa fa-floppy-o"></i> Save
        </a>
    </div>
</div>

<textarea id="answerEditor">@Model.answer</textarea>