
<div class="clearfix bottom20">
    <div class="pull-right btn-group" role="group">
        <a class="btn btn-default" href="#">Upload files</a>
        <a class="btn btn-default" href="#">Add file</a>
        <a class="btn btn-default" href="#">Submit Solution</a>
    </div>
</div>

<textarea id="editor"></textarea>
