@model BetterThanMooshak.Models.ViewModel.ProblemDetailsViewModel

<div class="clearfix bottom20">
    <div class="pull-right btn-group" role="group">
        <a class="btn btn-default" onclick="site.solution.save(@Model.problem.id)">
            <i class="fa fa-floppy-o"></i> Save
        </a>
        <a class="btn btn-default" onclick="site.solution.load(@Model.problem.id)">
            <i class="fa fa-cog"></i> Load
        </a>
        <a class="btn btn-default" onclick="alert('Unavalible Function...')">
            <i class="fa fa-cloud-upload"></i> Upload file
        </a>
        <a class="btn btn-default" onclick="alert('Unavalible Function...')">
            <i class="fa fa-cloud-download" ></i> Download file
        </a>
        <a class="btn btn-default" onclick="site.solution.submit(@Model.problem.id)">
            <i class="fa fa-terminal"></i>
            Run
        </a>
    </div>
</div>

<textarea id="editor"></textarea>
<span id="localPath" data-path="@Model.localPath"></span>

<div id="compilerRespond">
    
</div>