@model BetterThanMooshak.Models.ViewModel.ProblemAddViewModel
@{
    ViewBag.Title = "Add Problem";
}

<div class="boxTItle">
    <h1>Add problem to @Model.courseName (@Model.assignmentName)</h1>
</div>

<div class="boxText">

    @using (Html.BeginForm("add", "problem", new { id = Model.assignmentId}, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.Partial("_ProblemForm", Model)
    }
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
