@{
    ViewBag.Title = "Forgot Password Confirmation";
}

<div class="boxTitle">
    <h1>@ViewBag.Title.</h1>
</div>
<div class="boxText">
    <p>
        Please check your email to reset your password.
    </p>
</div>
	
