body {
    padding-top: 80px;
    display: flex;
    min-height: 100vh;
    flex-direction: column;  
}
    .body-content {
        flex: 1;
    }

header.navbar {
    height: 70px;
    padding-top: 15px;
    border: 1px solid #ccc;
    background: #fff;
}
header.navbar .menu {
    position: relative
}

#mainmenuToggle {
    position: absolute;
    z-index: 10;
    top: 0;
    right: 0;
    cursor: pointer;
    padding-top: 4px;
    min-height: 36px;
}
    #mainmenuToggle span {
        display: block;
        width: 35px;
        height: 5px;
        background: #000;
        margin: 4px auto;
        transition: -webkit-transform .3s ease 0s;
        transition: transform .3s ease 0s;
        transition: transform .3s ease 0s,-webkit-transform .3s ease 0s;
    }
        body.menuOpen #mainmenuToggle span.first {
            -webkit-transform: translateY(8px) rotate(45deg);
            transform: translateY(7px) rotate(45deg);
        }
        body.menuOpen #mainmenuToggle span.middle {
            -webkit-transform: translateY(1px) rotate(-45deg);
            transform: translateY(-2px) rotate(-45deg);
        }
        body.menuOpen #mainmenuToggle span.last {
            display: none;
        }
.menu .dropdown {
    display: none;
    position: absolute;
    top: 60px;
    right: 0;
    background: #fff;
    border: 1px solid #ccc;
    padding: 0;
    list-style: none;
}
    body.menuOpen .dropdown {
        display: block;
    }
    .menu .dropdown li {
        width: 100%;
        padding: 8px 20px;
        border-bottom: 1px solid #ccc;
    }

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


footer {
    border-top: 1px solid #ccc;
    padding: 16px 0;
}

    footer div.container div {
        float: left;
        width: 50%;
    }
        footer .dateTime {
            text-transform: capitalize
        }
        footer .version {
            text-align: right;
        }


/* Login Form */

#loginForm {
    max-width: 340px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 9px;
    margin-top: 40px;
    background: #ddd;

}
    #loginForm input {
        width: 100%;
        max-width: 100%;
    }
    #loginForm .checkbox input {
        width: initial;
        margin-left: 0;
    }