body {
    padding-top: 80px;
    display: flex;
    min-height: 100vh;
    flex-direction: column;  
}
    .body-content {
        flex: 1;
    }


    

    body .form-search
    {
        display: inline-block;
        position: relative;
    }
    body .form-search input {
        padding-right: 30px;
    }

    body .form-search:after {
        font-family: "FontAwesome";
        content: "\f002";
        width: 20px;
        height: 20px;
        position: absolute;
        right: 4px;
        top: 4px;
        font-size: 18px;
        pointer-events: none;
    }
    body .label {
        font-size: 100%
    }
    .input-arrow {
        padding-top: 90px;
    }
header.navbar {
    height: 70px;
    padding-top: 15px;
    border: 1px solid #ccc;
    background: #fff;
}
header.navbar .menu {
    position: relative
}

.boxTitle {
    border-bottom: 1px solid #ccc;
    margin-bottom: 36px;
}
.boxTitle h1 {
    margin-bottom: 16px;
    font-family: "Roboto",sans-serif;
    font-weight:700

}

.boxText {
    margin-bottom:40px
}

/* TABS */
.nav-tabs {
    margin: 30px 0;
}

/* Main Menu*/
#mainmenuToggle {
    position: absolute;
    z-index: 10;
    top: 0;
    right: 0;
    cursor: pointer;
    padding-top: 4px;
    min-height: 36px;
}
    #mainmenuToggle span {
        display: block;
        width: 35px;
        height: 5px;
        background: #000;
        margin: 4px auto;
        transition: -webkit-transform .3s ease 0s;
        transition: transform .3s ease 0s;
        transition: transform .3s ease 0s,-webkit-transform .3s ease 0s;
    }
        body.menuOpen #mainmenuToggle span.first {
            -webkit-transform: translateY(8px) rotate(45deg);
            transform: translateY(7px) rotate(45deg);
        }
        body.menuOpen #mainmenuToggle span.middle {
            -webkit-transform: translateY(1px) rotate(-45deg);
            transform: translateY(-2px) rotate(-45deg);
        }
        body.menuOpen #mainmenuToggle span.last {
            display: none;
        }
.menu .dropdown {
    display: none;
    position: absolute;
    top: 60px;
    right: 0;
    background: #fff;
    border: 1px solid #ccc;
    padding: 0;
    list-style: none;
}
    body.menuOpen .dropdown {
        display: block;
    }
    .menu .dropdown li {
        width: 100%;
        padding: 8px 20px;
        border-bottom: 1px solid #ccc;
    }

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
   /*max-width: 280px;*/
}


footer {
    border-top: 1px solid #ccc;
    padding: 16px 0;
}

    footer div.container div {
        float: left;
        width: 50%;
    }
        footer .dateTime {
            text-transform: capitalize
        }
        footer .version {
            text-align: right;
        }

/* Margins*/
.top0 {
    margin-top: 0;
}
.top5 {
    margin-top: 5px;
}
.top10 {
    margin-top: 10px;
}
.top15 {
    margin-top: 15px;
}
.top20 {
    margin-top: 20px;
}
.top25 {
    margin-top: 25px;
}
.top30 {
    margin-top: 30px;
}

.bottom0 {
    margin-bottom: 0;
}
.bottom5 {
    margin-bottom: 5px;
}
.bottom10 {
    margin-bottom: 10px;
}
.bottom15 {
    margin-bottom: 15px;
}
.bottom20 {
    margin-bottom: 20px;
}
.bottom25 {
    margin-bottom: 25px;
}
.bottom30 {
    margin-bottom: 30px;
}

.right0 {
    margin-right: 0;
}
.right5 {
    margin-right: 5px;
}
.right10 {
    margin-right: 10px;
}
.right15 {
    margin-right: 15px;
}
.right20 {
    margin-right: 20px;
}
.right25 {
    margin-right: 25px;
}
.right30 {
    margin-right: 30px;
}

.left0 {
    margin-left: 0;
}
.left5 {
    margin-left: 5px;
}
.left10 {
    margin-left: 10px;
}
.left15 {
    margin-left: 15px;
}
.left20 {
    margin-left: 20px;
}
.left25 {
    margin-left: 25px;
}
.left30 {
    margin-left: 30px;
}

/*Font Awesome changes*/
body .fa {
    font-size: 18px;
}
body a > i.fa {
    color: #407E84;
}
    body a:hover > i.fa {
        color: #e3000f;
    }
body i.fa,
body span.fa {
    color: #333;
}
    body i:hover.fa,
    body span:hover.fa {
    color: #666;
    }

/* Login Form */
#loginForm
{
    max-width: 340px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 9px;
    margin-top: 40px;
    background: #ddd;

}
    #loginForm input
    {
        width: 100%;
        max-width: 100%;
    }
    #loginForm .checkbox input
    {
        width: initial;
        margin-left: 0;
    }


    /*Enrole Test*/
    /* draggable targets */
/* draggable targets */
[data-draggable="target"]
{
    float:left;
    list-style-type:none;
    width: 100%;
    height: 400px;
    overflow-y:auto;
    
    
    padding: 10px;
    
    border:2px solid #888;
    border-radius:0.2em;
    
    background:#ddd;
    color:#555;
}

/* drop target state */
[data-draggable="target"][aria-dropeffect="move"]
{
    border-color:#68b;
    background:#fff;
}

/* drop target focus and dragover state */
[data-draggable="target"][aria-dropeffect="move"]:focus,
[data-draggable="target"][aria-dropeffect="move"].dragover
{
    outline:none;
    box-shadow:0 0 0 1px #fff, 0 0 0 3px #68b;
}

/* draggable items */
[data-draggable="item"]
{
    display:block;
    list-style-type:none;
    
    margin:0 0 2px 0;
    padding:0.2em 0.4em;
    
    border-radius:0.2em;
    
    line-height:1.3;
}

/* items focus state */
[data-draggable="item"]:focus
{
    outline:none;
    
    box-shadow:0 0 0 2px #68b, inset 0 0 0 1px #ddd;
}

/* items grabbed state */
[data-draggable="item"][aria-grabbed="true"]
{
    background:#8ad;
    color:#fff;
}

/* Front page */
#Assignments
{
  /*border: 1.5px solid rgb(221,221,221);*/
}

/*#Notifications
{
    border: 1.5px solid rgb(221,221,221);

}*/
.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: rgb(195,195,195);
}
a
{
    color: #000;
}