@model BetterThanMooshak.Models.Entities.Course

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<p>This is the course @Model.name</p><br />
<p>it's id is @Model.id</p><br />
<p>is start date is: @Model.startDate</p><br />
<p>andn it's end date is: @Model.endDate</p>

