@model BetterThanMooshak.Models.ViewModel.CourseAddViewModel

@{
    ViewBag.Title = "Edit Course";
}

<div class="boxTitle">
    <h1>@ViewBag.Title</h1>
</div>
<div class="boxText">
    @using (Html.BeginForm("edit", "course", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.Partial("_CourseForm", Model)
    }
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}




