@model BetterThanMooshak.Models.ViewModel.CourseViewModel

@{
    ViewBag.Title = "User Courses";
}

<div class="col-md-6" id="Courses">
    <h1>@ViewBag.Title</h1>
    <div>
        <table class="table-bordered table table-striped table-responsive table-hover">
            <tbody>
                @foreach (var x in Model.courses)
                {
                    <tr>
                        <td>
                            <a id="link" href="@Url.Action("details", "course", new { id = x.id})">
                                @x.name
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

